
:root {
    /* ### Primary */

    --strong-cyan: #26baa4;
    --light-blue: #6173ff;

    /* ### Neutral */

    --dark-grayish-blue: #4c545d;
    --grayish-blue: #9fabb2;

    /* ### Fonts */

    --font-family: 'Bai Jamjuree', sans-serif;
    --font-weight-400: 400;
    --font-weight-400: 600;
    --font-size: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #F2F2F2;
    height: 100%;
}